body{
	margin:0;
	font-family:Ink Free;
	
}
button {
	text-transform: uppercase;
    cursor:pointer;
	width:160px;
	font-size:20px;
	padding: 20px;
	font-family:Ink Free;
	border: 1px solid white;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.7);
	color: white;
}
.hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	font-size:25px;
	text-align: center;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1559305616-3f99cd43e353?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FmZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

